apiVersion: v1
kind: Service
metadata:
  name: amqp-service
spec:
  selector:
    app: rabbit-pod
  ports:
    - name: management
      port: 15672
      targetPort: 15672
    - name: query
      port: 5672
      targetPort: 5672
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: blog-service
spec:
  selector:
    app: blog-pod
  ports:
    - port: 8085
      targetPort: 8085
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: comment-service
spec:
  selector:
    app: comment-pod
  ports:
    - port: 8087
      targetPort: 8087
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak-service
spec:
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app: keycloak-pod
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  selector:
    app: gateway-pod
  ports:
    - port: 8070
      targetPort: 8070
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: web-pod
  ports:
    - protocol: "TCP"
      port: 80
      targetPort: 80
  type: LoadBalancer