variables:
  MAVEN_OPTS: -Dmaven.repo.local=.m2/repository

image: maven:latest

stages:
  - build
  - test
  - sonarqube

    
cache:
  paths:
    - .m2/repository
    - target
  
build:
  stage: build
  script:
    - cd backend
    - mvn clean install
test:
  stage: test
  script:
    - cd backend
    - mvn test
sonarqube:
  stage: sonarqube
  script:
    - cd backend
    - mvn sonar:sonar -Dsonar.login=admin -Dsonar.password=luck



