# variables:
#   MAVEN_OPTS: -Dmaven.repo.local=.m2/repository


# image: maven:latest

# stages:
#   - build
#   - test
#   - sonarqube
#   - deploy
#   - compose


# cache:
#   paths:
#     - .m2/repository
#     - target

# build:
#   stage: build
#   script:
#     - cd backend
#     - mvn clean install

# test:
#   stage: test
#   script:
#     - cd backend
#     - mvn test

# sonarqube:
#   stage: sonarqube
#   script:
#     - cd backend
#     - mvn clean package sonar:sonar -Dsonar.login=$SONAR_LOGIN -Dsonar.password=$SONAR_PASSWORD

# deploy:
#   stage: deploy
#   script:
#     - cd backend
#     - mvn compile



stages:
  - deploy

deploy_prod:
  stage: deploy
  image: google/cloud-sdk:alpine
  script:
  - echo $GCP_SA_KEY > gcloud-service-key.json
  - gcloud auth activate-service-account --key-file gcloud-service-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - gcloud builds submit . --config=cloud-build.yaml

# after_script:
# - rm /tmp/gcloud-service-key.json

