variables:
  MAVEN_OPTS: -Dmaven.repo.local=.m2/repository

image: maven:latest

stages:
  - build
  - test
  - sonarqube
  - deploy

include:
  - template: Jobs/Dependency-Scanning.gitlab-ci.yml

cache:
  paths:
    - .m2/repository
    - target

build:
  stage: build
  script:
    - cd backend
    - mvn clean install

frontend:
  image: cypress/browsers:node12.14.1-chrome85-ff81
  stage: build
  only:
    - master
  script:
    - cd frontend
    - npm install

test:
  stage: test
  script:
    - cd backend
    - mvn test

end-to-end:
  image: cypress/browsers:node12.14.1-chrome85-ff81
  stage: test
  only:
    - master
  script:
    - cd frontend
     # install dependencies
    - npm ci
    # run Cypress tests
    - npm run cypress

sonarqube:
  stage: sonarqube
  only:
  - master
  script:
    - cd backend
    - mvn clean package sonar:sonar -Dsonar.login=$SONAR_LOGIN -Dsonar.password=$SONAR_PASSWORD -Dsonar.projectKey=tune-in -Dsonar.qualitygate.wait=false

deploy_local:
  stage: deploy
  only:
    - master
  script:
    - cd backend
    - mvn package

deploy_prod:
  stage: deploy
  image: google/cloud-sdk:alpine
  only:
    - master
  script:
  - echo $GCP_SA_KEY > gcloud-service-key.json
  - gcloud auth activate-service-account --key-file gcloud-service-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - gcloud builds submit . --config=cloudbuild.yaml


