variables:
  MAVEN_OPTS: -Dmaven.repo.local=.m2/repository

image: maven:latest

stages:
  - build
  - test
  - sonarqube
  - deploy

cache:
  paths:
    - .m2/repository
    - target

backend:
  stage: build
  script:
    - cd backend
    - mvn clean install

frontend:
  image: cypress/browsers:node12.14.1-chrome85-ff81
  stage: build
  script:
    - cd frontend
    - npm install
    - npm start

test:
  stage: test
  script:
    - cd backend
    - mvn test

end-to-end:
  image: cypress/browsers:node12.14.1-chrome85-ff81
  stage: test
  script:
    - cd frontend
    - npm cypress run

sonarqube:
  stage: sonarqube
  script:
    - cd backend
    - mvn clean package sonar:sonar -Dsonar.login=$SONAR_LOGIN -Dsonar.password=$SONAR_PASSWORD -Dsonar.projectKey=tune-in -Dsonar.qualitygate.wait=false

deploy_local:
  stage: deploy
  script:
    - cd backend
    - mvn package

deploy_prod:
  stage: deploy
  image: google/cloud-sdk:alpine
  script:
  - echo $GCP_SA_KEY > gcloud-service-key.json
  - gcloud auth activate-service-account --key-file gcloud-service-key.json
  - gcloud config set project $GCP_PROJECT_ID
  - gcloud builds submit . --config=cloudbuild.yaml


