application:
  title: Discovery Service
  version: 1.0


server:
  port: 8090

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8090/eureka/
    register-with-eureka: false
    fetch-registry: false
  instance:
    prefer-ip-address: true

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always