application:
  title: Blog Service
  version: 1.0

server:
  port: 8085

spring:
  application:
    name: blog-service
  security:
    oauth2:
      resource-server:
        jwt:
          # validated token by keycloak
          issuer-uri: http://34.141.128.86:8080/realms/my_realm
  rabbitmq:
    host: 172.20.0.3
  data:
    mongodb:
      uri: mongodb+srv://admin:admin@cluster0.k5qf3w2.mongodb.net/?retryWrites=true&w=majority
      database: blogs
management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowSize: 10
        slidingWindowType: COUNT_BASED
        failureRateThreshold: 50
        minimumNumberOfCalls: 5
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 5s
    instances:
      feedService:
        baseConfig: default
