server:
  port: 8085
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8090/eureka/
  instance:
    prefer-ip-address: true
    hostname: localhost


spring:
  application:
    name: blog-service
  datasource:
    url: jdbc:mysql://localhost:3306/tune_in
    username: root
    password: luck
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true