application:
  title: Gateway Service
  version: 1.0


server:
  port: 8070

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: blog
          uri: http://localhost:8085
          predicates:
            - Path=/blogs/**
        - id: feed
          uri: http://localhost:8087
          predicates:
            - Path=/feed/**
#          filters:
#            TokenRelay=
#          filters:
#            TokenRelay=
  main:
    web-application-type: reactive
  security:
    oauth2:
      client:
        registration:
          gateway:
            provider: my-provider
            client-id: my_client
            client-secret: LYOs7bkLQhyOZOBk4GWqOuePMlMAnrUV
            authorization-grant-type: authorization_code
            redirect-uri: "http://localhost:8070/login/oauth2/code/gateway"
            scope: openid, blogs.read
        provider:
          my-provider:
            issuer-uri: http://localhost:8080/realms/my_realm




# log the gateway
logging:
  level:
    org:
      springframework:
        cloud:
          gateway: TRACE
          # basic building block
          route:
          RouteDefinitionLocator: INFO
    root: INFO


management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always