application:
  title: Gateway Service
  version: 1.0


server:
  port: 8070

eureka:
  instance:
    prefer-ip-address: true
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8090/eureka

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: userService
          uri: lb://user-service:8086
          predicates:
            - Path=/user/**
          filters:
            TokenRelay=
        - id: blogService
          uri: lb://blog-service:8085
          predicates:
            - Path=/blogs/**
          filters:
            TokenRelay=
  main:
    web-application-type: reactive
  security:
    oauth2:
      client:
        registration:
          gateway:
            provider: my-provider
            client-id: my_client
            client-secret: LYOs7bkLQhyOZOBk4GWqOuePMlMAnrUV
            authorization-grant-type: authorization_code
            redirect-uri: "http://localhost:8070/login/oauth2/code/gateway"
            scope: openid, blogs.read
        provider:
          my-provider:
            issuer-uri: http://localhost:8080/realms/my_realm




# log the gateway
logging:
  level:
    org:
      springframework:
        cloud:
          gateway: TRACE
          # basic building block
          route:
          RouteDefinitionLocator: INFO
    root: INFO


management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always